/* 
  vh = viewport heigh
  gives the height of browser or part of page that is visoble
  100vh = 100%
*/

.App {
  text-align: center;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
}